/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
/* :root.theme-dark { */
.page.theme_dark {
  /* Дублируем переменные для тёмной темы */
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --main-text-color: #f1b2ce;
  --section-color: #000028;
  --menu-button-hover: #ff007066;
}
