/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
/* :root.theme-light { */
.page.theme_light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-text-color: #353430;
  --title-color: #ffc2e6;
  --main-text-color: #353430;
  --menu-button-hover: #32312d66;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-color: var(--bg-color);
}

.page.theme_light .decor-corner::before {
  border-top: 1px solid var(--main-text-color);
  border-right: 1px solid var(--main-text-color);
}

.page.theme_light .decor-corner::after {
  border-left: 1px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
}

.page.theme_light .header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.page.theme_light .header__text {
  color: var(--accent-text-color);
}

.page.theme_light .header__decor-element {
  display: none;
}

.page.theme_light .title-decor {
  background-color: var(--accent-color);
}

.page.theme_light .header__theme-menu-button {
  color: var(--main-text-color);
}

.page.theme_light .header__theme-menu-button.header__theme-menu-button_active {
  border: 1px solid var(--main-text-color);
}

.page.theme_light .header__theme-menu-button:hover {
  outline: 1px solid var(--menu-button-hover);
}

.page.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--main-text-color);
}

.page.theme_light .section {
  color: var(--main-text-color);
}

.page.theme_light .section-title {
  color: var(--main-text-color);
}

.page.theme_light .section__elem-title {
  color: var(--accent-text-color);
}

.page.theme_light .section__link {
  text-shadow: 1px 2px 0 var(--accent-color);
  text-decoration: none;
}

.page.theme_light .section__link:hover {
  border-bottom: 1px solid currentColor;
}

.page.theme_light .section__link:focus {
  outline: none;
}

.page.theme_light .section__link:focus-visible {
  border: 1px solid currentColor;
}

.page.theme_light .solution__advices-title {
  color: var(--accent-text-color);
}

.page.theme_light .gallery__title {
  color: var(--accent-text-color);
}

.page.theme_light .footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-text-color: #353430;
    --title-color: #ffc2e6;
    --main-text-color: #353430;
    --menu-button-hover: #32312d66;
  }

  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);
    background-color: var(--bg-color);
  }

  .page.theme_auto .decor-corner::before {
    border-top: 1px solid var(--main-text-color);
    border-right: 1px solid var(--main-text-color);
  }

  .page.theme_auto .decor-corner::after {
    border-left: 1px solid var(--main-text-color);
    border-bottom: 1px solid var(--main-text-color);
  }

  .page.theme_auto .header__title {
    color: var(--title-color);
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .page.theme_auto .header__text {
    color: var(--accent-text-color);
  }

  .page.theme_auto .header__decor-element {
    display: none;
  }

  .page.theme_auto .title-decor {
    background-color: var(--accent-color);
  }

  .page.theme_auto .header__theme-menu-button {
    color: var(--main-text-color);
  }

  .page.theme_auto .header__theme-menu-button.header__theme-menu-button_active {
    border: 1px solid var(--main-text-color);
  }

  .page.theme_auto .header__theme-menu-button:hover {
    outline: 1px solid var(--menu-button-hover);
  }

  .page.theme_auto .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--main-text-color);
  }

  .page.theme_auto .section {
    color: var(--main-text-color);
  }

  .page.theme_auto .section-title {
    color: var(--main-text-color);
  }

  .page.theme_auto .section__elem-title {
    color: var(--accent-text-color);
  }

  .page.theme_auto .section__link {
    text-shadow: 1px 2px 0 var(--accent-color);
    text-decoration: none;
  }

  .page.theme_auto .section__link:hover {
    border-bottom: 1px solid currentColor;
  }

  .page.theme_auto .section__link:focus {
    outline: none;
  }

  .page.theme_auto .section__link:focus-visible {
    border: 1px solid currentColor;
  }

  .page.theme_auto .solution__advices-title {
    color: var(--accent-text-color);
  }

  .page.theme_auto .gallery__title {
    color: var(--accent-text-color);
  }

  .page.theme_auto .footer__title {
    color: var(--title-color);
    text-shadow: 2px 2px 0 var(--accent-color);
  }
}
